petsc4py-3.3.1/HISTORY.txt
petsc4py-3.3.1/LICENSE.txt
petsc4py-3.3.1/PKG-INFO
petsc4py-3.3.1/README.txt
petsc4py-3.3.1/conf
petsc4py-3.3.1/demo
petsc4py-3.3.1/docs
petsc4py-3.3.1/setup.cfg
petsc4py-3.3.1/setup.py
petsc4py-3.3.1/src
petsc4py-3.3.1/test
synthetic_data/Data
petsc4py-3.3.1
build
build/**
petsc4py-3.3.1/**
dist/**
synthetic_data/**
synthetic_data
